/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "";
// -----------------------------------------------------------------------------------------
// | `~   |  Q  |  W  |  E   |  R  |  T  |   |  Y     |  U   |  I  |  O  |  P  | ESC    |
// |  TAB |  A  |  S  |  D   |  F  |  G  |   |  H     |  J   |  K  |  L  |  ;  | L3 '   |
// | SHFT |  Z  |  X  |  C   |  V  |  B  |   |  N     |  M   |  ,  |  .  |  /  | L2/GUI |
//                | L2/BKSP | GUI | CTRL |   | L1/ENT | SPC  | ALT |

                        bindings = <
   &kp GRAVE  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I      &kp O    &kp P     &kp ESC 
   &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K      &kp L    &kp SEMI  &lt 3 SQT
   &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &lt 2 LGUI
            &lt 2 BSPC    &kp LGUI    &kp LCTRL    &lt 1 RET    &kp SPACE    &kp RALT
                        >;
                };
                
                lower_layer {
                        label = "1 NUM";
                                  //  ------------------------------------     -----------------------------------
                                  // | `~   |  <  |  [  |  (  |  {  |     |   |     |  }  |  )  |  ]  |  >  | esc |
                                  // |  0   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  :  | spc |
                                  // | SHFT |     |     |     |  -  |  +  |   |  =  |  \  |  |  |  .  |  _  |     |
                                  //                    |  ▲  |  ▲  |  ▲  |   |  ▲  |  ▲  |  ▲  |

                        bindings = <
//|----------+--------+----------+----------+----------+----------|                    |-----------+---------+---------+---------+---------+---------|
   &kp GRAVE   &kp LT   &kp LBKT   &kp LPAR   &kp LBRC   &none                            &none     &kp RBRC  &kp RPAR  &kp RBKT   &kp GT   &kp ESC 
//|----------|--------|----------|----------|----------|----------|                    |-----------|---------|---------|---------|---------|---------|
    &kp TAB    &kp N1   &kp N2      &kp N3     &kp N4     &kp N5                          &kp N6     &kp N7    &kp N8    &kp N9    &kp N0   &kp SPACE
//|----------|--------|----------|----------|----------|----------|                    |-----------|---------|---------|---------|---------|---------|
   &kp LSHFT    &none    &none      &none     &kp MINUS  &kp PLUS                        &kp EQUAL  &kp BSLH  &kp PIPE  &kp DOT   &kp UNDER  &none
//+----------+--------+----------+----------+----------|----------|---------| |--------|-----------|---------+---------+---------+---------+---------+
                          	               &trans     &trans    &trans      &trans   &trans      &trans
//                                          `----------+----------+---------' `--------+-----------+---------'
                        >;
                };

                raise_layer {
                        label = "2 SYM";
// -----------------------------------------------------------------------------------------
// | CTRL |  <  |  [  |  (  |  {  |     |   |     |  }  |  )  |  ]  |  >  | esc |
// |  0   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  :  | spc |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp LCTRL &trans   &trans &trans   &trans   &trans          &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT       &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LSHFT &trans   &trans &trans   &trans   &trans          &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE       &kp RET   &trans    &kp RALT
                        >;
                };
                
                util_layer {
                        label = "3 UTIL";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |        |
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" | RESET  | <- DO NOT REMOVE. left side crashes without this.
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                             &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LSHFT &trans   &trans &trans   &trans   &trans                                &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &reset
                    	     &kp LGUI &trans   &kp SPACE                             &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
